{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <title>MiNi-CMS | Admin</title>
</head>
<body>
    <div id="admin"></div>
    <script type="application/javascript" src="{% static "dist/admin-bundle.min.js" %}"></script>
    <script type="application/javascript" src="{% static "dist/extra-bundle.min.js" %}"></script>
</body>
</html>