<div class="topnav container-fluid" id="myTopnav">
    <a href="/#/" class="logo-area">
        <img class="logo" v-bind:src="topNavLogo">
    </a>
    <router-link v-for="item in navItems" v-bind:to="item.path"> {{ item.name }} </router-link>
    <a href="javascript:void(0);"
       style="font-size:15px;"
       class="icon" v-on:click="toggleNavbar"
    >&#9776;
    </a>
    <div class="form-inline my-2 my-lg-0 search-area" id="top-nav-search">
        <form v-on:submit.prevent="searchSubmit">
            <input v-model="searchQuery" placeholder="Search..." class="form-control mr-sm-2"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>

