<div class="app-config-settings">
    <div v-if="showAlert" class="text-center">
        <p class="alert alert-success">{{ alertMgs }}</p>
    </div>
    <form v-on:submit.prevent="handleAppConfigSubmit">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label>App Name</label>
                    <input class="form-control" type="text" v-model="appConfig.app_name"/>
                </div>
                <div class="form-group">
                    <label>App Footer</label>
                    <vue-editor v-model="appConfig.footer"></vue-editor>
                </div>
                <button type="submit" class="btn btn-dark">Save</button>
            </div>
        </div>
    </form>
</div>