.app-body-sidebar {
    margin: 0 3% 0 18% !important; /* Same as the width of the sidenav */
    padding: 10px !important;
}

.app-body {
    margin: 0 10% 0 10% !important;
    padding: 10px !important;
}

.router-link-active {
    background-color: #4CAF50 !important;
    color: white !important;
}

.head-2 {
    width: 100%;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0;
}

.head-3 {
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
}

/* Table CSS */
.global-search {
    position: relative;
    padding-left: 35px;
    float: right;
}

.wd-200px {
    width: 200px !important;
}

.wd-100px {
    width: 100px !important;
}

.wd-150px {
    width: 150px !important;
}

.action-table-btn-sz {
    width: 50px;
    padding: 0 !important;
}

.content-title {
    font-weight: 700;
}

.btn-xs {
    padding: 2px 7px !important;
}

.btn {
    border-radius: .10rem !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}