.topnav {
    overflow: hidden;
    z-index: 1;
    background-color: #333;
    position: fixed;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.search-area {
    float: right;
    margin-top: 8px !important;
}

.topnav .icon {
    display: none;
}

.logo-area {
    width: 150px;
}

.logo {
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .search-area form {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        font-size: 15px;
        display: block;
        text-align: left;
        line-height: 0.75;
    }

    .search-area.responsive form {
        display: block;
        float: none;
    }

    .search-area.responsive {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .search-area.responsive button {
        width: 100%;
    }
}