.sidenav {
    height: 100%;
    width: 15%;
    position: absolute;
    left: 0;
    background-color: #343a40 !important;
    overflow-x: hidden;
    padding-top: 2px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.menu-footer {
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 13px;
        padding-left: 3px;
    }
}